<style>
      html, body {
      min-height: 80%;
      }
      body, div, form, input, select, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #333;
      line-height: 22px;
      }
      h1 {
      margin: 15px 0;
      margin-bottom: 25px;	
      font-weight: 400px;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 3px;
      }
      form {
      width: 45%;
      padding: 40px;
      background: #fff;
       margin-top: 20px;   	
      margin-bottom: 30px;
      box-shadow: 5px 20px 50px #ccc; 
      }
      input, select, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      }
      input:hover, select:hover, textarea:hover {
      outline: none;
      border: 1px solid #095484;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      select {
      width: 50%;
      padding: 7px 0;
      background: transparent;
      }
      textarea {
      width: calc(100% - 6px);
      }
      .item {
      position: relative;
      margin: 30px 0;
      margin-left: 70px;
      margin-right: 70px;		
      }
    
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      -webkit-border-radius: 5px; 
      -moz-border-radius: 5px; 
      border-radius: 5px; 
      background-color: #779944;     /*   #779933 purple-aa6699   blue-339988   silver-889988*/
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover 
      {
      background-color: green;
      color: black;
      }
    </style>